*{
    margin: 0;
    padding: 0;
}
header{
    height: 100vh;
    background-color: #FFF9F2 !important;
}
.wrapper{
    display: flex;
    margin-left: 230px;
}

.left-path{
    width: 67%;
    
}
.nav-block {
    margin: 33px 0;
    display: flex;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    right: 0;
}

.nav-links li{
    margin-right: 46px;
    border: none;
}

.nav-links a{
    color: #233506;
    font-size: 18px;
    display: inline;
}
.rigth-path{
    
    width: 33%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    background-color: #FDB827;
}

.btn-contact{
    background-color: #FFFFFF;
    border: none;
    border-radius: 22.5px;
    width: 140px;
    height: 50px;
    color:#FF800B;
    font-size: 18px;
    margin-left: 5px;
    z-index: 2;
}



.btn-basket-search{
    background-color: #FFFFFF;
    border: none;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin:0 20px;
    z-index: 2;
}

.btn-nav:hover{
    box-shadow: 0 0 15px #e94311;
}


.organic{
    color:#FDB827;
}

.des-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 180px;
}

.des-wrapper div{
    margin-bottom: 50px;
}

.des-header{
    width: 591px;
    height: 249px;
    font-size: 84px;
    color:#233506;
    font-weight: bold;
    line-height: 1;
}

.description{
    width: 456px;
    height: 40px;
    font-size: 19px;
    font-weight:400;
    font-style: normal;
    line-height: 170%;
    color:rgba(35, 53, 6, 0.65);;
}

.oder{
    width: 210px;
    height: 66px;
    background-color: #FDB827;
    border:none;
    border-radius: 33px;
    color:#FFFFFF;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    z-index: 2;
}

.oder img{
    margin-left: 31px;
}

.wrap{
    display: flex;
    justify-content: space-between;
}

.start-image{
    position:absolute;
    width: 50%;
    max-width: 600px;
    height: 58%;
    left:57%;
    top: 17%;
    z-index: 1;
    margin: 0 auto;
}


.start-image img{
    width: 100%;
    height: auto;  
}

/* .start-image img{
    object-fit: cover;
    object-position: center;
    left:50%;
    top: 10%;
} */

.content{
    display: flex;
    flex-direction: column;
    margin-left: 230px;
}

.header-product{
    font-size:70px ;
    font-weight: bold;
    margin-top:100px;
    margin-bottom: 87px;
}


.product-item{
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 141px;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 36px;
}

.item{
    display: flex;
    flex-direction: column;
}

.fruit{
    width: 270px;
    height: 197px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    margin:0 auto;
}

.banana{
    background-color: #FFD400;
}

.des-fruit{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin:33px 0;
}

.buy{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.btn-buy{
    width: 106px;
    height: 40px;
    color: black;
    background-color: #FDB827;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}

.granat{
    background-color: #FFE3E2;
}

.orange{
    background-color: #F5BC5B;
}

.avocado{
    background-color: #EDF2F5;
}

.apple{
    background-color: rgba(246, 118, 109, 0.6);
}

.green-apple{
    background-color: #BED09B;
}

.green-apple img{
    margin-left:100px;
}

.strawberry{
    background-color: #FFBAB5;
}

.watermelon{
    background-color: #E9F1F3;
}

.btn-nav:checked{
    background-color: #FDB827;
}

.works{
    background-color: #FFF9F2;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
}

.ellipse{
    margin-top:59px;
    margin-bottom: 59px;
}

.ellipse img{
    width: 325px;
}

.workers{
    display: flex;
    flex-direction: column;
}

.works-img{
    margin-top: 56px;
    margin-bottom: 56px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.girl img{
    border-radius: 34px;
}

.vegatables-fruit{
    margin-left: 30px;
    margin-top: 45px;
}

.fruit{
    width: 235px;
    height: 325px;
}

.works-img img{
    margin-bottom: 30px;
}

.works-descriptions{
    display: flex;
    flex-direction: column;
    margin-top: 62px;
    margin-left: 140px;
    width: 494px;
    height: 550px;
}

.description-header{
    font-size: 70px;
    font-weight: bold;
}

.subtitle{
    font-size: 18px;
    font-weight: 400;
    color: #2a3547bf;
    margin-bottom: 60px;
}

.how-it-works{
    display: flex;
    flex-direction: column;
}

.works-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.works-item-description{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}

.works-item-description h4{
    font-size: 20px;
    color: #02283F;
    margin: 0;
    line-height: 1.5rem;
    margin-bottom: 15px;
}

.works-item-description p{
    font-size: 18px;
    color: #2a3547bf;
    font-weight: normal;
}

.about-us{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    justify-content: space-between;

}

.about-us-description{
    width: 485px;
    height: 112px;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    margin-left: 375px;
}

.about-us-title{
    font-size: 70px;
    font-weight: bold;
    color: #02283F;
}

.about-us-subtitle{
    font-size: 18px;
    font-weight: 400;
    color: #2a3547bf;
}

.about-us-img{
    margin: auto 0;
    margin-right: 18px;
}

.ellipse{
    width: 490px;
    height: 490px;
    z-index:1;
}

.about-us-fruit{
    position: absolute;
    object-fit: cover;
    width: 495px;
    height: 543px;
    left: 1200px;
    top: 3493px;
    z-index: 2;
}

.customer-review{
    width: 100%;
    height: 100vh;
    background-color: #FFF9F2;
    display: flex;
    justify-content: center;
}

.review{
    width: 887px;
    height: 505px;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
}

.container-review{
    display: flex;
    flex-direction: column;
}

.review-title{
    font-size: 70px;
    color: #02283F;
    font-weight: bold;
    margin: 0 auto;
}

.carousel-slider{
    width: 826px !important;
    height: 368px !important;
    
}

.carousel-item{
    width: 626px !important;
    height: 268px !important;
    background-color: white;
    border-radius: 64px;
    min-height: 0 !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    color:#02283F !important;
    padding: 45px !important;
    display: flex;
    flex-direction: column;
}

.person{
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    margin-top: 11px;
}

.person img{
    width: 75px;
    height: 75px;
    margin-right: 20px;
}

.data-person{
    display: flex;
    flex-direction: column;
    color:#02283fc9;
}

.data-person h6{
    font-size: 18px;
    font-weight: bold;
}

.data-person p{
    font-size: 18px;
}

.container-review button{
    margin: 0 auto;
}

footer{
    width: 100%;
    height: 539px;
    background-color:white;
}

.footer{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contact-footer{
    display: flex;
    justify-content: space-between;
    width: 1371px;
    height: 198px;
    margin: 0 auto;
    margin-left: 375px;
    margin-top: 150px;
}

.footer-colum{
    display:flex;
    flex-direction: column;
    width: 292px;
    margin-right: 120px;
}

.big-colum{
    width: 300px;
}

.footer-colum h6{
    margin-bottom: 47px;
    font-size: 31px;
    font-weight: bold;
    color:#243165;
}

.footer-colum p{
    color:#375465cc;
    font-size: 17px;
}

.social-media{
    display: flex;
    justify-content: flex-start;
    margin-top: 45px;
}

.social-media img{
    margin-right: 18px;
}

.community p{
    margin-bottom: 30.5px;
}


@media screen and (max-width:1399px) {
    body{
        width: 1320px;
    }

    /* header section */

    .start-image{
        max-width: 700px;
        top:220px;
    }

    .des-header{
        width: 400px;
        font-size: 60px;
    }

    .des-wrapper div{
        margin-bottom: 0;
    }

    .oder{
        margin-top: 60px;
    }

    .des-wrapper{

        margin-top: 180px;
    }


    /* product section */

    .about-us-fruit{

        max-width: 300px;
        height: 543px;
        left: 800px;
        top: 3493px;
    }


    .contact-footer{
        width: 1320px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){
    
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 576px){
    
}





