*{
    margin: 0;
    padding: 0;
}
header{
    height: 100vh;
    background-color: #FFF9F2 !important;
}
.wrapper{
    display: flex;
    margin-left: 230px;
}

.left-path{
    width: 67%;
    
}
.nav-block {
    margin: 33px 0;
    display: flex;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    right: 0;
}

.nav-links li{
    margin-right: 46px;
    border: none;
}

.nav-links a{
    color: #233506;
    font-size: 18px;
    display: inline;
}
.rigth-path{
    width: 33%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    background-color: #FDB827;
}

.btn-contact{
    background-color: #FFFFFF;
    border: none;
    border-radius: 22.5px;
    width: 140px;
    height: 50px;
    color:#FF800B;
    font-size: 18px;
    margin-left: 5px;
    z-index: 2;
}



.btn-basket-search{
    background-color: #FFFFFF;
    border: none;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin:0 20px;
    z-index: 2;
}

.btn-nav:hover{
    box-shadow: 0 0 15px #e94311;
}


.organic{
    color:#FDB827;
}

.des-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 180px;
}

.des-wrapper div{
    margin-bottom: 50px;
}

.des-header{
    width: 591px;
    height: 249px;
    font-size: 84px;
    color:#233506;
    font-weight: bold;
    line-height: 1;
}

.description{
    width: 456px;
    height: 40px;
    font-size: 19px;
    font-weight:400;
    font-style: normal;
    line-height: 170%;
    color:rgba(35, 53, 6, 0.65);;
}

.oder{
    width: 210px;
    height: 66px;
    background-color: #FDB827;
    border:none;
    border-radius: 33px;
    color:#FFFFFF;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    z-index: 2;
}

.oder img{
    margin-left: 31px;
}

.wrap{
    display: flex;
    justify-content: space-between;
}



.start-image{
    position: absolute;
    margin: 0 auto;
    width: 1500.63px;
    height: 1453.68px;
    left:300px;
    top: 0;
    z-index: 1;
}

.content{
    display: flex;
    flex-direction: column;
    margin-left: 230px;
}

.header-product{
    font-size:70px ;
    font-weight: bold;
    margin-top:100px;
    margin-bottom: 87px;
}

.product-item{
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 141px;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 36px;
}

.item{
    display: flex;
    flex-direction: column;
}

.fruit{
    width: 270px;
    height: 197px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
}

.banana{
    background-color: #FFD400;
}

.des-fruit{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin:33px 0;
}

.buy{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.btn-buy{
    width: 106px;
    height: 40px;
    color: black;
    background-color: #FDB827;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}

.granat{
    background-color: #FFE3E2;
}

.orange{
    background-color: #F5BC5B;
}

.avocado{
    background-color: #EDF2F5;
}

.apple{
    background-color: rgba(246, 118, 109, 0.6);
}

.green-apple{
    background-color: #BED09B;
}

.strawberry{
    background-color: #FFBAB5;
}

.watermelon{
    background-color: #E9F1F3;
}

.btn-nav:checked{
    background-color: #FDB827;
}






